<?xml version="1.0" encoding="utf-8"?>
<!-- AN Paint, 2026-09-10. AGPL-3.0-or-later. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:name="org.catrobat.paintroid.classic.PaintApplication" android:largeHeap="true" android:supportsRtl="true" android:localeConfig="@xml/app_locales">
        <activity android:name=".classic.ClassicPaintActivity" android:exported="false"
            android:theme="@style/ClassicPaintTheme" android:configChanges="orientation|screenSize|keyboardHidden|locale|layoutDirection"/>
        <activity android:name=".classic.AssemblyActivity" android:exported="false"
            android:theme="@style/ClassicPaintTheme" android:configChanges="orientation|screenSize|keyboardHidden|locale|layoutDirection"/>
        <activity android:name=".classic.MediaGalleryActivity" android:exported="false" android:theme="@style/ClassicPaintTheme"/>
        <provider android:name=".MyProvider" android:authorities="${applicationId}.fileprovider"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
    </application>
</manifest>
